@font-face {
  font-family: "Oswald_Regular";
  src: url("../assets/fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Oswald_Bold";
  src: url("../assets/fonts/Oswald/static/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf");
  font-weight: medium;
}
